[tool.poetry]
name = "slmsuite"
version = "0.1.0"
description = ""
authors = ["Bodo.Kaiser <bodo.kaiser@physik.uni-muenchen.de>"]

[tool.poetry.dependencies]
python = "^3.10"
numpy = "^2.1.3"
scipy = "^1.14.1"
opencv-python = "^4.10.0"
matplotlib = "^3.9.2"
h5py = "^3.12.1"
tqdm = "^4.67.1"

[tool.poetry.dev-dependencies]
jupyter = "^1.1.1"
line-profiler = "^4.1.3"
snakeviz = "^2.2.2"
imageio = "^2.36.1"
pygifsicle = "^1.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
