numpy
scipy
opencv-python
matplotlib
h5py
tqdm
nbsphinx
IPython
docutils
sphinx
sphinx_copybutton
sphinx_last_updated_by_git
sphinx_rtd_theme
requests
pandoc
pydata-sphinx-theme
sphinx_design
sphinx-autodoc-typehints
